.item-equipped-card{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    .item-equipped-card-element{
        margin-right: 1em;
        vertical-align: middle;
    }
}

.bag-card {
    background-color:rgba(119,119,119, 0.7);
    .card-element {
        margin-right: 1em;
    }
    .card-element-right {
        float: right;
    }

    .bag-title {
        font-size: 18px;
        font-weight: bold;
        margin-top: -15%;
    }

    .bag-capacity {
        font-size: 18px;
        font-weight: bold;
        width: 2em;
    }
}

.skill-card {
    background-color: rgba(119, 119, 119, 0.7);

    .card-element {
        margin-right: 1em;
    }

    .card-element-right {
        float: right;
    }

    .skill-title {
        font-size: 18px;
        font-weight: bold;
        margin-top: -15%;
    }
}

.collapsible-card {
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;

    .collapsible-card-header {
        margin-right: 1em;
        vertical-align: sub;
    }

    .collapsible-toggler{
        cursor: pointer;
    }
    .collapsible-toggler:hover{
        background-color: #888;
    }
    .active{
        background-color: #888; 
    }
    .collapsible{
        //display: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .collapsible-card-element {
        margin-right: 1em;
        vertical-align: middle;
    }

    .item-count {
        vertical-align: middle;
        margin-right: 2em;
        min-width: 20%;
        max-width: 40%;
        float: right;
        display: flex;
        flex-direction: row;

        input {
            width: 4em;
        }
    }
    
    .gourd-section {
        display: flex;
        flex-direction: row;
        float: right;

        .collapsible-card-element{
            margin-right: 0;
        }
        .checked {
            opacity: 1;
        }

        .unchecked {
            opacity: 0.20;
        }
    }
}