    .fd.character.sheet {
        min-width: 35em;
        min-height: 40em;
        font-family: @font_to_use;
        font-size: @main_font_size;

        .window-content {
            background-image: url("resources/misc/empty-sheet.png");
            background-size: cover;
        }

        form {
            min-width: 35em;
            min-height: 40em;
            display: block flex;
            flex-direction: row;
            height: 100%;

            /** {
            margin: 2.5%;
        }*/

            .left-column {
                position: relative;
                width: 30%;
                float: left;
                display: flex;
                flex-direction: column;
                margin-left: 4%;
                margin-top: 4%;
            }

            .right-column {
                position: relative;
                width: 60%;
                float: right;
                display: flex;
                flex-direction: column;
                margin-right: 4%;
                margin-top: 4%;
            }

            .column-footer {
                height: 2em;
            }

            .section-title {
                position: relative;
                background-color: beige;
                //margin-top: -10px;
                margin-left: 35%;
                width: 30%;
                text-align: center;
                height: 10%;
                z-index: 99;
            }

            table {
                padding: 10px;
                border-width: 0;
                background: transparent;

                tr {
                    margin-top: 2em;
                    border-width: 0;
                    background: transparent;
                }
            }

            input {
                text-align: right;
            }

            .avatar-panel {
                //max-height: 20em;
                //height: 5em;
                //margin-right: 1em;
                margin-top: 1em;
                float: left;

                .avatar {
                    width: 100%;
                    height: 100%;
                }

                .name-title {
                    position: relative;
                    background-color: beige;
                    text-align: center;
                    height: 2em;
                    width: 70%;
                    margin-left: 15%;
                    margin-top: -4em;
                    z-index: 99;
                }

                .level-span {
                    //display: flex;
                    //flex-direction: row;
                    padding-top: 1em;
                    padding-bottom: 1em;

                    .data-level {
                        position: relative;
                        float: right;
                        width: 30%;
                    }
                }

                
                .dangerosity-span {
                    display: flex;
                    flex-direction: row;
                    .data-dangerosity {
                        margin-left: 1em;
                        //position: relative;
                        //float: right;
                       // max-width: 50%; //position: relative;
                    }
                }
                
            }

            .level-panel,
            .weapons-panel,
            .armor-panel {
                /*overflow-x: scroll;
                overflow-y: visible;*/
                margin-top: 1em;
                float: left;

                .armor-cell-label {
                    width: 30%;
                }

                .armor-cell-value {
                    width: 70%;
                }
            }


            .bio-panel,
            .stats-panel {
                //height: 5em;
                margin-right: 1em;
                margin-top: 1em;
                float: right;

                .stats-roll:hover {
                    background-color: #777;
                }

                select {
                    width: 100%;
                    font-family: @font_to_use;
                    font-size: @main_font_size;
                }

                textArea {
                    font-family: @font_to_use;
                    font-size: @main_font_size;
                    max-width: 100%;
                    min-width: 100%;
                    min-height: 10em; 
                }

                .meal-section {
                    display: flex;
                    flex-direction: row;

                    .checked{
                        opacity: 1;
                    }

                    .unchecked{
                        opacity: 0.20;
                    }
                }

                .stats-title {
                    position: relative;
                    background-color: beige;
                    margin-top: -10px;
                    margin-left: 35%;
                    width: 30%;
                    text-align: center;
                    height: 10%;
                    z-index: 99;
                }

                .stats-table {
                    width: 80%;
                    position: relative;
                    display: block;
                    float: left;

                    tr {
                        vertical-align: middle;
                    }
                }

                .resources-table{
                    tr {
                        vertical-align: middle;
                    }
                }

                .native-stat-cell {
                    font-size: @main_font_size - 2;
                    width: 4em;
                    height: 2em;
                    float: left;
                }

                .stat-value-cell {
                    font-size: @main_font_size + 1;
                }

                .threshold-cell {
                    min-width: 10em;
                    float: left;
                }

                .luck-table {
                    position: relative;
                    text-align: right;
                    float: right;
                    width: 20%;

                    .stats-cell {
                        float: right;
                    }
                }

                .stats-cell,
                .bio-cell {
                    width: 4em;
                    height: 2em;
                    float: left;
                }
            }

            .panel {
                border: 1px solid black;
            }

            .tab-panel {
                display: flex;
                flex-direction: column;
                margin-right: 1em;
                margin-top: 1em;

                .tab-links {
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    border: 1px solid #ccc;
                    background-color: #f1f1f1;

                    button {
                        background-color: inherit;
                        float: left;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 1px 1px;
                        transition: 0.3s;
                        font-family: @font_to_use;
                        font-size: @main_font_size;
                    }

                    button:hover {
                        background-color: #ddd;
                    }

                    button.active {
                        background-color: #555;
                    }
                }

                .tab-content {
                    display: none;
                    border-top: none;

                    .skill-card {
                        border-bottom: 1px solid dimgrey;
                    }
                }


            }
        }

        @keyframes fadeEffect {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }