@import "./item-sheet.less";
@import "./character-sheet.less";
@import "./cards.less";
@import "./rolls.less";

@font-face {
    font-family: "Amarante Regular";
    src: url('resources/font/amarante-regular.ttf') format("truetype");
}

@font_to_use: "Amarante Regular";
@main_font_size: 14px;