.fd.weapon.sheet,
.fd.potion.sheet {
    font-family: @font_to_use;
    font-size: @main_font_size;
    form {
        display: flex;
        flex-direction: column;

        select {
            font-family: @font_to_use;
            font-size: @main_font_size;
        }
    }
    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        textarea {
            font-family: @font_to_use;
            font-size: @main_font_size;
        }
    }
}