.roll{
    .roll-header{
        display: flex;
        flex-direction: row;
    }

    .roll-failure{
        background-color: lightcoral;
    }

    .roll-success{
        background-color: palegreen;
    }

    .roll-result{
        text-align: center;
        font-weight: bold;
    }
}