.fd.weapon.sheet,
.fd.potion.sheet {
  font-family: "Amarante Regular";
  font-size: 14px;
}
.fd.weapon.sheet form,
.fd.potion.sheet form {
  display: flex;
  flex-direction: column;
}
.fd.weapon.sheet form select,
.fd.potion.sheet form select {
  font-family: "Amarante Regular";
  font-size: 14px;
}
.fd.weapon.sheet .sheet-content,
.fd.potion.sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fd.weapon.sheet .sheet-content textarea,
.fd.potion.sheet .sheet-content textarea {
  font-family: "Amarante Regular";
  font-size: 14px;
}
.fd.character.sheet {
  min-width: 35em;
  min-height: 40em;
  font-family: "Amarante Regular";
  font-size: 14px;
}
.fd.character.sheet .window-content {
  background-image: url("resources/misc/empty-sheet.png");
  background-size: cover;
}
.fd.character.sheet form {
  min-width: 35em;
  min-height: 40em;
  display: block flex;
  flex-direction: row;
  height: 100%;
  /** {
            margin: 2.5%;
        }*/
}
.fd.character.sheet form .left-column {
  position: relative;
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-top: 4%;
}
.fd.character.sheet form .right-column {
  position: relative;
  width: 60%;
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  margin-top: 4%;
}
.fd.character.sheet form .column-footer {
  height: 2em;
}
.fd.character.sheet form .section-title {
  position: relative;
  background-color: beige;
  margin-left: 35%;
  width: 30%;
  text-align: center;
  height: 10%;
  z-index: 99;
}
.fd.character.sheet form table {
  padding: 10px;
  border-width: 0;
  background: transparent;
}
.fd.character.sheet form table tr {
  margin-top: 2em;
  border-width: 0;
  background: transparent;
}
.fd.character.sheet form input {
  text-align: right;
}
.fd.character.sheet form .avatar-panel {
  margin-top: 1em;
  float: left;
}
.fd.character.sheet form .avatar-panel .avatar {
  width: 100%;
  height: 100%;
}
.fd.character.sheet form .avatar-panel .name-title {
  position: relative;
  background-color: beige;
  text-align: center;
  height: 2em;
  width: 70%;
  margin-left: 15%;
  margin-top: -4em;
  z-index: 99;
}
.fd.character.sheet form .avatar-panel .level-span {
  padding-top: 1em;
  padding-bottom: 1em;
}
.fd.character.sheet form .avatar-panel .level-span .data-level {
  position: relative;
  float: right;
  width: 30%;
}
.fd.character.sheet form .avatar-panel .dangerosity-span {
  display: flex;
  flex-direction: row;
}
.fd.character.sheet form .avatar-panel .dangerosity-span .data-dangerosity {
  margin-left: 1em;
}
.fd.character.sheet form .level-panel,
.fd.character.sheet form .weapons-panel,
.fd.character.sheet form .armor-panel {
  /*overflow-x: scroll;
                overflow-y: visible;*/
  margin-top: 1em;
  float: left;
}
.fd.character.sheet form .level-panel .armor-cell-label,
.fd.character.sheet form .weapons-panel .armor-cell-label,
.fd.character.sheet form .armor-panel .armor-cell-label {
  width: 30%;
}
.fd.character.sheet form .level-panel .armor-cell-value,
.fd.character.sheet form .weapons-panel .armor-cell-value,
.fd.character.sheet form .armor-panel .armor-cell-value {
  width: 70%;
}
.fd.character.sheet form .bio-panel,
.fd.character.sheet form .stats-panel {
  margin-right: 1em;
  margin-top: 1em;
  float: right;
}
.fd.character.sheet form .bio-panel .stats-roll:hover,
.fd.character.sheet form .stats-panel .stats-roll:hover {
  background-color: #777;
}
.fd.character.sheet form .bio-panel select,
.fd.character.sheet form .stats-panel select {
  width: 100%;
  font-family: "Amarante Regular";
  font-size: 14px;
}
.fd.character.sheet form .bio-panel textArea,
.fd.character.sheet form .stats-panel textArea {
  font-family: "Amarante Regular";
  font-size: 14px;
  max-width: 100%;
  min-width: 100%;
  min-height: 10em;
}
.fd.character.sheet form .bio-panel .meal-section,
.fd.character.sheet form .stats-panel .meal-section {
  display: flex;
  flex-direction: row;
}
.fd.character.sheet form .bio-panel .meal-section .checked,
.fd.character.sheet form .stats-panel .meal-section .checked {
  opacity: 1;
}
.fd.character.sheet form .bio-panel .meal-section .unchecked,
.fd.character.sheet form .stats-panel .meal-section .unchecked {
  opacity: 0.2;
}
.fd.character.sheet form .bio-panel .stats-title,
.fd.character.sheet form .stats-panel .stats-title {
  position: relative;
  background-color: beige;
  margin-top: -10px;
  margin-left: 35%;
  width: 30%;
  text-align: center;
  height: 10%;
  z-index: 99;
}
.fd.character.sheet form .bio-panel .stats-table,
.fd.character.sheet form .stats-panel .stats-table {
  width: 80%;
  position: relative;
  display: block;
  float: left;
}
.fd.character.sheet form .bio-panel .stats-table tr,
.fd.character.sheet form .stats-panel .stats-table tr {
  vertical-align: middle;
}
.fd.character.sheet form .bio-panel .resources-table tr,
.fd.character.sheet form .stats-panel .resources-table tr {
  vertical-align: middle;
}
.fd.character.sheet form .bio-panel .native-stat-cell,
.fd.character.sheet form .stats-panel .native-stat-cell {
  font-size: 12px;
  width: 4em;
  height: 2em;
  float: left;
}
.fd.character.sheet form .bio-panel .stat-value-cell,
.fd.character.sheet form .stats-panel .stat-value-cell {
  font-size: 15px;
}
.fd.character.sheet form .bio-panel .threshold-cell,
.fd.character.sheet form .stats-panel .threshold-cell {
  min-width: 10em;
  float: left;
}
.fd.character.sheet form .bio-panel .luck-table,
.fd.character.sheet form .stats-panel .luck-table {
  position: relative;
  text-align: right;
  float: right;
  width: 20%;
}
.fd.character.sheet form .bio-panel .luck-table .stats-cell,
.fd.character.sheet form .stats-panel .luck-table .stats-cell {
  float: right;
}
.fd.character.sheet form .bio-panel .stats-cell,
.fd.character.sheet form .stats-panel .stats-cell,
.fd.character.sheet form .bio-panel .bio-cell,
.fd.character.sheet form .stats-panel .bio-cell {
  width: 4em;
  height: 2em;
  float: left;
}
.fd.character.sheet form .panel {
  border: 1px solid black;
}
.fd.character.sheet form .tab-panel {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-top: 1em;
}
.fd.character.sheet form .tab-panel .tab-links {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.fd.character.sheet form .tab-panel .tab-links button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1px 1px;
  transition: 0.3s;
  font-family: "Amarante Regular";
  font-size: 14px;
}
.fd.character.sheet form .tab-panel .tab-links button:hover {
  background-color: #ddd;
}
.fd.character.sheet form .tab-panel .tab-links button.active {
  background-color: #555;
}
.fd.character.sheet form .tab-panel .tab-content {
  display: none;
  border-top: none;
}
.fd.character.sheet form .tab-panel .tab-content .skill-card {
  border-bottom: 1px solid dimgrey;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.item-equipped-card {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.item-equipped-card .item-equipped-card-element {
  margin-right: 1em;
  vertical-align: middle;
}
.bag-card {
  background-color: rgba(119, 119, 119, 0.7);
}
.bag-card .card-element {
  margin-right: 1em;
}
.bag-card .card-element-right {
  float: right;
}
.bag-card .bag-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: -15%;
}
.bag-card .bag-capacity {
  font-size: 18px;
  font-weight: bold;
  width: 2em;
}
.skill-card {
  background-color: rgba(119, 119, 119, 0.7);
}
.skill-card .card-element {
  margin-right: 1em;
}
.skill-card .card-element-right {
  float: right;
}
.skill-card .skill-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: -15%;
}
.collapsible-card {
  margin-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.collapsible-card .collapsible-card-header {
  margin-right: 1em;
  vertical-align: sub;
}
.collapsible-card .collapsible-toggler {
  cursor: pointer;
}
.collapsible-card .collapsible-toggler:hover {
  background-color: #888;
}
.collapsible-card .active {
  background-color: #888;
}
.collapsible-card .collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible-card .collapsible-card-element {
  margin-right: 1em;
  vertical-align: middle;
}
.collapsible-card .item-count {
  vertical-align: middle;
  margin-right: 2em;
  min-width: 20%;
  max-width: 40%;
  float: right;
  display: flex;
  flex-direction: row;
}
.collapsible-card .item-count input {
  width: 4em;
}
.collapsible-card .gourd-section {
  display: flex;
  flex-direction: row;
  float: right;
}
.collapsible-card .gourd-section .collapsible-card-element {
  margin-right: 0;
}
.collapsible-card .gourd-section .checked {
  opacity: 1;
}
.collapsible-card .gourd-section .unchecked {
  opacity: 0.2;
}
.roll .roll-header {
  display: flex;
  flex-direction: row;
}
.roll .roll-failure {
  background-color: lightcoral;
}
.roll .roll-success {
  background-color: palegreen;
}
.roll .roll-result {
  text-align: center;
  font-weight: bold;
}
@font-face {
  font-family: "Amarante Regular";
  src: url('resources/font/amarante-regular.ttf') format("truetype");
}
