<div class="collapsible-card aptitude-card owned-card" data-item-id="{{_id}}">
    <div class="collapsible-card-header aptitude-card-header collapsible-toggler">
        <img src="{{img}}" height="30" width="30" class="collapsible-card-element aptitude-icon card-icon aptitude-card-element" data-item-id="{{_id}}">
        <span class="aptitude-name card-content aptitude-card-element card-element collapsible-card-element ">{{name}}</span>
    </div>
    <div class="collapsible-card-content aptitude-card-content collapsible">
        <p><i>{{data.rpDescription}}</i></p>
        <p>{{data.description}}</p>

        {{#if data.level}}
        <span class="aptitude-level card-content aptitude-card-element card-element">{{localize
            "fd.commons.lvl"}}.{{data.level}}</span>
        {{/if}}

        {{#if data.manaCost}}
        <p>{{localize "fd.items.aptitude.spell.manaCost"}} : {{data.manaCost}}<i class="fas fa-tint"></i></p>
        {{else}}
        {{#ifEquals data.manaCost 0}}
        <p>{{localize "fd.items.aptitude.spell.manaCost"}} : {{data.manaCost}}<i class="fas fa-tint"></i></p>
        {{/ifEquals}}
        {{/if}}

        {{#if data.cooldown}}
        <p>{{localize "fd.items.aptitude.skill.cooldown"}} : {{data.cooldown}}<i class="fas fa-stopwatch"></i></p>
        {{else}}
        {{#ifEquals data.cooldown 0}}
        <p>{{localize "fd.items.aptitude.skill.cooldown"}} : {{data.cooldown}}<i class="fas fa-stopwatch"></i></p>
        {{/ifEquals}}
        {{/if}}
    </div>
</div>