<div class="item-equipped-card owned-card" data-item-id="{{_id}}">
    <img data-item-id="{{_id}}" src="{{img}}" height="30" width="30" class="item-icon card-icon card-element item-equipped-card-element">
    <span class="item-equipped-name card-content item-equipped-card-element card-element">{{name}}</span>
    {{#if data.level}}
        <span class="item-equipped-level card-content item-equipped-card-element card-element">{{localize "fd.commons.lvl"}}.{{data.level}}</span>
    {{/if}}
    
    {{#ifEquals type "armor"}}
        <span class="item-equipped-durability card-content item-equipped-card-element card-element">{{data.durability}}/{{data.maxDurability}}</span>
    {{/ifEquals}}
    {{#unless data.equipped}}
        {{#if data.count}}
            <span class="item-equipped-count card-content item-equipped-card-element card-element">x{{data.count}}</span>
        {{else}}
            {{#ifEquals data.count 0}}
                <span class="item-equipped-count card-content item-equipped-card-element card-element">x{{data.count}}</span>
            {{/ifEquals}}
        {{/if}}

        {{#if data.price}}
            <span class="item-equipped-price card-content item-equipped-card-element card-element">{{data.price}}<i class="fas fa-coins"></i></span>
        {{else}}
            {{#ifEquals data.price 0}}
            <span class="item-equipped-price card-content item-equipped-card-element card-element">{{data.price}}<i class="fas fa-coins"></i></span>
            {{/ifEquals}}
        {{/if}}
    {{/unless}}
</div>