<div class="collapsible-card item-card owned-card" data-item-id="{{_id}}">
    <div class="collapsible-card-header item-card-header collapsible-toggler">
        <img src="{{img}}" height="30" width="30" class="item-icon card-icon item-card-element collapsible-card-element "
            data-item-id="{{_id}}">
        <span class="item-name card-content item-card-element card-element collapsible-card-element ">{{name}}</span>
        <span class="item-count card-content item-card-element card-element collapsible-card-element">{{localize "fd.items.commons.count"}}: <input class="item-count-input card-content card-element" name="data.count" type="number" value="{{data.count}}" data-item-id="{{_id}}"/></span>

        {{#ifEquals type "gourd"}}
        <span class="gourd-section card-content item-card-element card-element collapsible-card-element">
            {{#times data.maxCapacity}}
            <div class="gourd-icon-container card-content item-card-element card-element collapsible-card-element {{#if (gte ../data.currentCapacity @index)}}checked {{else}}unchecked{{/if}}"
                data-item-id="{{../_id}}">
                <img src="icons/svg/blood.svg" height="30" width="30" class="gourd-icon"
                    data-item-id="{{../_id}}">
            </div>
            {{/times}}
        </span>
        {{/ifEquals}}
    </div>
    <div class="collapsible-card-content item-card-content collapsible">
        <p><i>{{data.rpDescription}}</i></p>
        <p>{{data.description}}</p>

        {{#if data.level}}
        <p class="item-level card-content item-card-element card-element">{{localize
            "fd.commons.lvl"}}.{{data.level}}</p>
        {{/if}}

        {{#ifEquals type "armor"}}
        <p class="item-equipped-durability card-content item-equipped-card-element card-element">{{localize "fd.items.armor.durability"}} : {{data.durability}}/{{data.maxDurability}}</p>
        {{/ifEquals}}
        
        <p class="item-equipped-count card-content item-card-element card-element">
            {{#if data.price}}
                {{data.price}}<i class="fas fa-coins"></i>
            {{else}}
            {{#ifEquals data.price 0}}
                {{data.price}}<i class="fas fa-coins"></i>
            {{/ifEquals}}
            {{/if}}

            <!--{{#if data.count}}
                x{{data.count}}
            {{else}}
            {{#ifEquals data.count 0}}
                x{{data.count}}
            {{/ifEquals}}
            {{/if}}-->
        </p>

    </div>
</div>