<form>
    <div class="form-group">
        {{localize "fd.chat.dialog.armor.content-1"}} ({{armor_data.name}}) {{localize "fd.chat.dialog.armor.content-2"}}
    </div>
    <div class="form-group">
        <label>{{localize "fd.chat.dialog.armor.sufferedDamages"}}</label>
        <input type="number" name="sufferedDamages" value=0/>
    </div>
</form>