<form>
    <div class="form-group">
        <span>{{localize "fd.chat.dialog.armor.broken.content-1"}} "{{armor_data.name}}", {{localize
            "fd.chat.dialog.armor.broken.content-2"}}</span>
    </div>
</form>