<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="sheet-content">
        <table>
            <textarea name="data.description">{{data.description}}</textarea>
            <textarea name="data.rpDescription">{{data.rpDescription}}</textarea>

            <tr>
                <th>{{localize "fd.items.aptitude.skill.isCombatSkill"}}</th>
                <td>
                    <input name="data.isCombatSkill" type="checkbox" {{checked data.isCombatSkill}} />
                </td>
            </tr>

            <tr>
                <th>{{localize "fd.items.aptitude.isPassive"}}</th>
                <td>
                    <input name="data.isPassive" type="checkbox" {{checked data.isPassive}} />
                </td>
            </tr>
            {{#unless data.isPassive}}
                {{#ifEquals item.type "spell"}}
                <tr>
                    <th>{{localize "fd.items.aptitude.spell.manaCost"}}</th>
                    <td>
                        <input name="data.manaCost" type="text" value="{{data.manaCost}}" data-dtype="Number"/>
                    </td>
                </tr>
                {{/ifEquals}}
                {{#ifEquals item.type "skill"}}
                <tr>
                    <th>{{localize "fd.items.aptitude.skill.cooldown"}}</th>
                    <td>
                        <input name="data.cooldown" type="text" value="{{data.cooldown}}" data-dtype="Number" />
                    </td>
                </tr>
                {{/ifEquals}}
                <tr>
                    <th>{{localize "fd.commons.formula"}}</th>
                    <td>
                        <input name="data.mainFormula" type="text" value="{{data.mainFormula}}" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "fd.items.aptitude.isSimpleRoll"}}</th>
                    <td>
                        <input name="data.isSimpleRoll" type="checkbox" {{checked data.isSimpleRoll}} />
                    </td>
                </tr>
                {{#unless data.isSimpleRoll}}
                    <tr>
                        <th>{{localize "fd.items.aptitude.rollingAgainst"}}</th>
                        <td>
                            <input name="data.rollingAgainst" type="text" value="{{data.rollingAgainst}}" />
                        </td>
                    </tr>
                {{/unless}}
                <tr>
                    <th>{{localize "fd.items.aptitude.bonus"}}</th>
                    <td>
                        <input name="data.bonus" type="text" value="{{data.bonus}}" />
                    </td>
                </tr>
                <tr>
                    <th>{{localize "fd.items.aptitude.hasAdditionalRoll"}}</th>
                    <td>
                        <input name="data.hasAdditionalRoll" type="checkbox" {{checked data.hasAdditionalRoll}} />
                    </td>
                </tr>
                {{#if data.hasAdditionalRoll}}
                    <tr>
                        <th>{{localize "fd.items.aptitude.additionalRoll"}}</th>
                        <td>
                            <input name="data.additionalRoll" type="text" value="{{data.additionalRoll}}" />
                        </td>
                    </tr>
                {{/if}}
            {{/unless}}
        </table>
    </div>
</form>