<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <h3><input class="level-input" name="data.level" type="number" value="{{data.level}}"/></h3>
    </header>
    <div class="sheet-content">
        <textarea name="data.description">{{data.description}}</textarea>
        <textarea name="data.rpDescription">{{data.rpDescription}}</textarea>
        <table>
            <tr>
                <th>{{localize "fd.commons.type"}}</th><td>
                    <select name="data.type">
                        {{#select data.type}}
                        {{#each config.armorTypes as |type name|}}
                        <option value="{{name}}">{{localize type.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>

            <tr>
                <th>{{localize "fd.items.armor.slot"}}</th>
                <td>
                    <select name="data.slot">
                        {{#select data.slot}}
                        {{#each config.armorSlots as |name slot|}}
                        <option value="{{slot}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>

            <tr>
                <th>{{localize "fd.items.armor.durability"}}</th>
                <td><input name="data.durability" type="text" value="{{data.durability}}" /></td>
            </tr>

            <tr>
                <th>{{localize "fd.items.armor.maxDurability"}}</th>
                <td><input name="data.maxDurability" type="text" value="{{data.maxDurability}}" /></td>
            </tr>

            <tr>
                <th>{{localize "fd.items.commons.equipped"}}</th>
                <td><input name="data.equipped" type="checkbox" {{checked data.equipped}} /></td>
            </tr>

            {{#unless data.equipped}}
                <tr>
                    <th>{{localize "fd.items.commons.storage"}}</th>
                    <td>
                        <select name="data.storage">
                            {{#select data.storage}}
                            {{#each config.storageContainers as |name storage|}}
                            <option value="{{storage}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                </tr>
            {{/unless}}

            <tr>
                <th>{{localize "fd.items.commons.price"}}</th>
                <td><input name="data.price" type="text" value="{{data.price}}" data-dtype="Number" /></td>
            </tr>
        </table>
    </div>
</form>