<form class="{{cssClass}} grid-container" autocomplete="off">
    <div class="left-column">
        <div class="panel avatar-panel">
            <div class="avatar">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100%" width="100%" />
            </div>
            <input class="section-title name-title" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            <div class="level-span">
                <label for="data.level">{{localize "fd.commons.level"}}</label>
                <input class="data-level" name="data.level" type="number" value="{{data.level}}" />
            </div>
            <div class="dangerosity-span">
                <label for="data.dangerosity">{{localize "fd.actors.nonPlayableCharacter.dangerosity"}}</label>
                <input class="data-dangerosity" name="data.dangerosity" type="text" value="{{data.dangerosity}}" />
            </div>
        </div>

        <div class="panel weapons-panel">
            <div class="section-title weapons-title">{{localize "fd.items.weapon.label"}}</div>
            <table class="weapons-table">
                {{#each weapons as |item id|}}
                <tr>
                    <td>{{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="panel armor-panel">
            <div class="section-title armor-title">{{localize "fd.items.armor.label"}}</div>
            <table class="armor-table">
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.head"}} :</td>
                    <td class="armor-cell-value">{{#each armors.head as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.torso"}} :</td>
                    <td class="armor-cell-value">{{#each armors.torso as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.arm"}} :</td>
                    <td class="armor-cell-value">{{#each armors.arm as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.hand"}} :</td>
                    <td class="armor-cell-value">{{#each armors.hand as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.leg"}} :</td>
                    <td class="armor-cell-value">{{#each armors.leg as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.foot"}} :</td>
                    <td class="armor-cell-value">{{#each armors.foot as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.shield"}} :</td>
                    <td class="armor-cell-value">{{#each armors.shield as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
        
            </table>
        </div>
        <div class="column-footer"></div>
    </div>


    <div class="right-column">
        <div class="panel bio-panel">
            <table>
                <tr>
                    <td>{{localize "fd.actors.nonPlayableCharacter.species"}} : </td>
                    <td><input name="data.species" type="text" value="{{data.species}}" /></td>
                </tr>
                <tr>
                    <td>{{localize "fd.actors.commons.race"}} : </td>
                    <td><input name="data.race" type="text" value="{{data.race}}" /></td>
                </tr>
                <tr>
                    <td>{{localize "fd.actors.nonPlayableCharacter.class"}} : </td>
                    <td><input name="data.class" type="text" value="{{data.class}}" /></td>
                </tr>
                <tr>
                    <td>{{localize "fd.actors.commons.gender"}} : <input name="data.gender" type="text" value="{{data.gender}}" /></td>
                    <td>{{localize "fd.actors.commons.age"}} : <input name="data.age" type="text" value="{{data.age}}" /></td>
                </tr>
                <tr>
                    <td>{{localize "fd.actors.commons.height"}} : <input name="data.height" type="text" value="{{data.height}}" /></td>
                    <td>{{localize "fd.actors.commons.weight"}} : <input name="data.weight" type="text" value="{{data.weight}}" /></td>
                </tr>
            </table>
            <textarea name="data.infos">{{data.infos}}</textarea>
        </div>
        <div class="panel stats-panel">
            <div class="section-title stats-title">{{localize "fd.actors.commons.stats"}}</div>
            <table class="stats-table">
                <tr>
                    <td class="stats-roll" data-stat-type="strength">{{localize "fd.actors.commons.strength"}} :</td>
                    <td class="stats-cell"><input name="data.strength.value" type="number" value="{{data.strength.value}}" />
                    </td>
                </tr>
                <tr>
                    <td class="stats-roll" data-stat-type="agility">{{localize "fd.actors.commons.agility"}} :</td>
                    <td class="stats-cell"><input name="data.agility.value" type="number" value="{{data.agility.value}}" />
                    </td>
                </tr>
                <tr>
                    <td class="stats-roll" data-stat-type="charisma">{{localize "fd.actors.commons.charisma"}} :</td>
                    <td class="stats-cell"><input name="data.charisma.value" type="number" value="{{data.charisma.value}}" />
                    </td>
                </tr>
                <tr>
                    <td class="stats-roll" data-stat-type="intelligence">{{localize "fd.actors.commons.intelligence"}} :</td>
                    <td class="stats-cell"><input name="data.intelligence.value" type="number"
                            value="{{data.intelligence.value}}" /></td>
                </tr>
            </table>
        
            <table class="resources-table">
                <tr>
                    <td>{{localize "fd.actors.commons.health"}} :</td>
                    <td class="stats-cell"><input name="data.health.max" type="number" value="{{data.health.max}}" />
                    </td>
                    <td class="stats-cell">jauge</td>
                    <td class="stats-cell"><input name="data.health.value" type="number" value="{{data.health.value}}" />
                    </td>
                </tr>
                <tr>
                    <td>{{localize "fd.actors.commons.mana"}} :</td>
                    <td class="stats-cell"><input name="data.mana.max" type="number" value="{{data.mana.max}}" />
                    </td>
                    <td class="stats-cell">jauge</td>
                    <td class="stats-cell"><input name="data.mana.value" type="number" value="{{data.mana.value}}" />
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="panel tab-panel">
            <div class="tab-links">
                <button class="tab-link {{#ifEquals data.openedSheetPanel "bag"}}active{{/ifEquals}}" id="defaultOpenButton"
                    data-panel-to-open="bag">{{localize
                    "fd.actors.commons.inventory"}}</button>
                <button class="tab-link {{#ifEquals data.openedSheetPanel "attacks"}}active{{/ifEquals}}"
                    data-panel-to-open="attacks">{{localize
                    "fd.actors.nonPlayableCharacter.attacks"}}</button>
            </div>

            <div id="bag" class="panel bag-panel tab-content " {{#ifEquals data.openedSheetPanel "bag" }}style="display:block;"
                {{/ifEquals}}>
                {{#each uneqquipedItems as |item id|}}
                {{> "systems/fkng_doors/templates/partials/card/item-card.hbs" item}}
                {{/each}}
            </div>

            <div id="attacks" class="panel attacks-panel tab-content" {{#ifEquals data.openedSheetPanel "attacks"
                }}style="display:block;" {{/ifEquals}}>
                {{#each attacks as |attack id|}}
                {{> "systems/fkng_doors/templates/partials/card/aptitude-card.hbs" attack}}
                {{/each}}
            </div>
        </div>
        <div class="column-footer"></div>
    </div>
</form>