<form class="{{cssClass}} grid-container" autocomplete="off">
    <div class="left-column">
        <div class="panel avatar-panel">
            <div class="avatar">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100%" width="100%" />
            </div>
            <input class="section-title name-title" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        </div>

        <div class="panel level-panel">
            <table class="level-table">
                <tr>
                    <td>{{localize "fd.commons.level"}}</td>
                    <td><input name="data.level" type="number" value="{{data.level}}" /></td>
                </tr>
                <tr>
                    <td><input name="data.experience" type="number" value="{{data.experience}}" /></td>
                    <td>/ <b>{{maxExperience}}</b></td>
                </tr>
                <tr style="border-top:2px solid grey;">
                    <td>{{localize "fd.actors.playableCharacter.destinyPoints"}} : </td>
                    <td><input name="data.destinyPoint" type="number" value="{{data.destinyPoint}}" /></td>
                </tr>
            </table>
        </div>
        <div class="panel weapons-panel">
            <div class="section-title weapons-title">{{localize "fd.items.weapon.label"}}</div>
            <table class="weapons-table">
                {{#each weapons as |item id|}}
                <tr>
                    <td>{{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}</td>
                </tr>
                {{/each}}
                <!--<tr>
                        <td>{{localize "fd.items.weapon.label"}} 1 :</td><td></td>
                    </tr>
                    <tr>
                        <td>{{localize "fd.items.weapon.label"}} 2 :</td><td></td>
                    </tr>-->
            </table>
        </div>
        <div class="panel armor-panel">
            <div class="section-title armor-title">{{localize "fd.items.armor.label"}}</div>
            <table class="armor-table">
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.head"}} :</td>
                    <td class="armor-cell-value">{{#each armors.head as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.torso"}} :</td>
                    <td class="armor-cell-value">{{#each armors.torso as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.arm"}} :</td>
                    <td class="armor-cell-value">{{#each armors.arm as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.hand"}} :</td>
                    <td class="armor-cell-value">{{#each armors.hand as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.leg"}} :</td>
                    <td class="armor-cell-value">{{#each armors.leg as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.foot"}} :</td>
                    <td class="armor-cell-value">{{#each armors.foot as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
                <tr>
                    <td class="armor-cell-label">{{localize "fd.items.armor.slots.shield"}} :</td>
                    <td class="armor-cell-value">{{#each armors.shield as |item id|}}
                        {{> "systems/fkng_doors/templates/partials/card/item-equipped-card.hbs" item}}
                        {{/each}}</td>
                </tr>
        
            </table>
        </div>
        <div class="column-footer"></div>
    </div>


    <div class="right-column">
        <div class="panel bio-panel">
            <table>
                <tr>
                    <td colspan="2">{{localize "fd.actors.commons.race"}}</td>
                    <td colspan="2" class="block-right-column"><select class="selector race-selector" name="data.race">
                            {{#select data.race}}
                            {{#each config.races as |race|}}
                            <option value="{{race.key}}">{{localize race.name}}</option>
                            {{/each}}
                            {{/select}}
                        </select></td>
                    <td colspan="2">{{localize "fd.actors.playableCharacter.job"}}</td>
                    <td colspan="2"><select class="selector job-selector" name="data.job">
                            {{#select data.job}}
                            {{#each config.jobs as |job|}}
                            <option value="{{job.key}}">{{localize job.name}}</option>
                            {{/each}}
                            {{/select}}
                        </select></td>
                </tr>
                <tr>
                    <td>{{localize "fd.actors.commons.gender"}} :</td>
                    <td class="bio-cell"><input name="data.gender" type="text" value="{{data.gender}}" /></td>
                    <td>{{localize "fd.actors.commons.age"}} :</td>
                    <td class="bio-cell"><input name="data.age" type="text" value="{{data.age}}" /></td>
                    <td>{{localize "fd.actors.commons.height"}} :</td>
                    <td class="bio-cell"><input name="data.height" type="text" value="{{data.height}}" /></td>
                    <td>{{localize "fd.actors.commons.weight"}} :</td>
                    <td class="bio-cell"><input name="data.weight" type="text" value="{{data.weight}}" /></td>
                </tr>
            </table>

            <textarea name="data.infos">{{data.infos}}</textarea>

            <div class="meal-section">
                <span>{{localize "fd.actors.playableCharacter.dailyMeals"}} : <input name="data.timeToEat" type="number" value="{{data.timeToEat}}" {{#unless isGM}}readonly{{/unless}}/></span>
                {{#times data.timeToEat}}
                <div class="food-icon-container {{#if (gte ../data.mealToday @index)}}checked {{else}}unchecked{{/if}}">
                    <img src="{{../config.icons.misc.meal}}" height="50" width="50" class="food-icon">
                </div>
                {{/times}}
            </div>
        </div>
        <div class="panel stats-panel">
            <div class="section-title stats-title">{{localize "fd.actors.commons.stats"}}</div>
            <table class="stats-table">
                <tr>
                    <td class="stats-roll" data-stat-type="strength">{{localize "fd.actors.commons.strength"}} :</td>
                    <td class="stats-cell native-stat-cell"><input name="data.strength.native" type="number" value="{{data.strength.native}}" />
                    </td>
                    <td class="stats-cell stat-value-cell"><input name="data.strength.value" type="number" value="{{data.strength.value}}" />
                    </td>
                    <!--<td class="stats-cell">max</td>-->
                    <td class="stats-cell stat-modifier-cell"><input name="data.strength.modifier" type="number"
                            value="{{data.strength.modifier}}" /></td>
                </tr>
                <tr>
                    <td class="stats-roll" data-stat-type="agility">{{localize "fd.actors.commons.agility"}} :</td>
                    <td class="stats-cell native-stat-cell"><input name="data.agility.native" type="number" value="{{data.agility.native}}" />
                    </td>
                    <td class="stats-cell stat-value-cell"><input name="data.agility.value" type="number" value="{{data.agility.value}}" />
                    </td>
                    <!--<td class="stats-cell">max</td>-->
                    <td class="stats-cell stat-modifier-cell"><input name="data.agility.modifier" type="number" value="{{data.agility.modifier}}" />
                    </td>
                </tr>
                <tr>
                    <td class="stats-roll" data-stat-type="charisma">{{localize "fd.actors.commons.charisma"}} :</td>
                    <td class="stats-cell native-stat-cell"><input name="data.charisma.native" type="number" value="{{data.charisma.native}}" />
                    </td>
                    <td class="stats-cell stat-value-cell"><input name="data.charisma.value" type="number" value="{{data.charisma.value}}" />
                    </td>
                    <!--<td class="stats-cell">max</td>-->
                    <td class="stats-cell stat-modifier-cell"><input name="data.charisma.modifier" type="number"
                            value="{{data.charisma.modifier}}" /></td>
                </tr>
                <tr>
                    <td class="stats-roll" data-stat-type="intelligence">{{localize "fd.actors.commons.intelligence"}} :</td>
                    <td class="stats-cell native-stat-cell"><input name="data.intelligence.native" type="number"
                            value="{{data.intelligence.native}}" /></td>
                    <td class="stats-cell stat-value-cell"><input name="data.intelligence.value" type="number"
                            value="{{data.intelligence.value}}" /></td>
                    <!--<td class="stats-cell">max</td>-->
                    <td class="stats-cell stat-modifier-cell"><input name="data.intelligence.modifier" type="number"
                            value="{{data.intelligence.modifier}}" /></td>
                </tr>
                <tr>
                    <td class="stats-roll" data-stat-type="senses">{{localize "fd.actors.commons.senses"}} :</td>
                    <td class="stats-cell native-stat-cell"></td>
                    <td class="stats-cell stat-value-cell"><input name="data.senses.value" type="number"
                            value="{{data.senses.value}}" /></td>
                    <!--<td class="stats-cell">max</td>-->
                    <td class="stats-cell stat-modifier-cell"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="stats-cell"><i>{{localize "fd.actors.commons.native"}}</i></td>
                    <td class="stats-cell"></td>
                    <td class="stats-cell"><i>{{localize "fd.sheet.table.modifier"}}</i></td>
                </tr>
            </table>
            <table class="luck-table ">
                <tr>
                    <td class="stats-roll" data-stat-type="luck">{{localize "fd.actors.commons.luck"}}</td>
                </tr>
                <tr>
                    <td class="stats-cell native-stat-cell"><input name="data.luck.native" type="number" value="{{data.luck.native}}" /></td>
                </tr>
                <tr>
                    <td class="stats-cell">{{localize "fd.actors.commons.native"}}</td>
                </tr>
                <tr>
                    <td class="stats-cell current-stat-cell"><input name="data.luck.value" type="number" value="{{data.luck.value}}" /></td>
                </tr>
                <tr>
                    <td class="stats-cell">{{localize "fd.sheet.table.current"}}</td>
                </tr>
        
            </table>
        
            <table class="resources-table">
                <tr>
                    <td>{{localize "fd.actors.commons.health"}} :</td>
                    <td class="stats-cell native-stat-cell"><input name="data.health.native" type="number" value="{{data.health.native}}" />
                    </td>
                    <td class="stats-cell"><input name="data.health.max" type="number" value="{{data.health.max}}" />
                    </td>
                    <td class="threshold-cell">{{localize "fd.sheet.threshold"}} 1: {{healthThresholds.threshold1}}, {{localize "fd.sheet.threshold"}} 2: {{healthThresholds.threshold2}}</td>
                    <td class="stats-cell current-stat-cell"><input name="data.health.value" type="number" value="{{data.health.value}}" />
                    </td>
                </tr>
                <tr>
                    <td>{{localize "fd.actors.commons.mana"}} :</td>
                    <td class="stats-cell native-stat-cell"><input name="data.mana.native" type="number" value="{{data.mana.native}}" />
                    </td>
                    <td class="stats-cell"><input name="data.mana.max" type="number" value="{{data.mana.max}}" />
                    </td>
                    <td class="threshold-cell"></td>
                    <td class="stats-cell current-stat-cell"><input name="data.mana.value" type="number" value="{{data.mana.value}}" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="stats-cell"><i>{{localize "fd.actors.commons.native"}}</i></td>
                    <td class="stats-cell"><i>{{localize "fd.commons.max"}}</i></td>
                    <td class="threshold-cell"></td>
                    <td class="stats-cell"><i>{{localize "fd.sheet.table.current"}}</i></td>
                </tr>
            </table>
        </div>
        
        <div class="panel tab-panel">
            <div class="tab-links">
                <button class="tab-link {{#ifEquals data.openedSheetPanel "bag"}}active{{/ifEquals}}" id="defaultOpenButton"
                    data-panel-to-open="bag">{{localize
                    "fd.actors.commons.inventory"}}</button>
                <button class="tab-link {{#ifEquals data.openedSheetPanel "skills"}}active{{/ifEquals}}"
                    data-panel-to-open="skills">{{localize
                    "fd.actors.playableCharacter.skills"}}</button>
                <button class="tab-link {{#ifEquals data.openedSheetPanel "spellbook"}}active{{/ifEquals}}"
                    data-panel-to-open="spellbook">{{localize
                    "fd.actors.playableCharacter.spellbook"}}</button>
            </div>
            <div id="spellbook" class="panel spellbook-panel tab-content" {{#ifEquals data.openedSheetPanel "spellbook"
                }}style="display:block;" {{/ifEquals}}>
                {{#each spells as |spell id|}}
                {{> "systems/fkng_doors/templates/partials/card/aptitude-card.hbs" spell}}
                {{/each}}
            </div>
            <div id="bag" class="panel bag-panel tab-content " {{#ifEquals data.openedSheetPanel "bag" }}style="display:block;"
                {{/ifEquals}}>
                <div class="backpack-card bag-card owned-card">
                    <img src="{{config.icons.storage.backpack}}" height="50" width="50"
                        class="bag-icon backpack-icon card-icon">
                    <span class="bag-title backpack-title card-element">{{localize "fd.items.bag.backpack"}}</span>
                    <span class="bag-capacity backpack-cpacity card-element">{{backpackItems.length}} / <input class="backpack-capacity bag-capacity card-element" name="data.backpackCapacity" type="text" value="{{data.backpackCapacity}}"></span>
                </div>
                {{#each backpackItems as |item id|}}
                {{> "systems/fkng_doors/templates/partials/card/item-card.hbs" item}}
                {{/each}}

                <div class="belt-card bag-card owned-card">
                    <img src="{{config.icons.storage.belt}}" height="50" width="50"
                        class="bag-icon belt-icon card-icon">
                    <span class="bag-title belt-title card-element">{{localize "fd.items.bag.belt"}}</span>
                    <span class="bag-capacity belt-cpacity card-element">{{beltItems.length}} / <input class="belt-capacity bag-capacity card-element"
                            name="data.beltCapacity" type="text" value="{{data.beltCapacity}}"></span>
                </div>
                {{#each beltItems as |item id|}}
                {{> "systems/fkng_doors/templates/partials/card/item-card.hbs" item}}
                {{/each}}


                <div class="pouch-card bag-card owned-card">
                    <img src="{{config.icons.storage.pouch}}" height="50" width="50"
                        class="bag-icon pouch-icon card-icon">
                    <span class="bag-title pouch-title card-element">{{localize "fd.items.bag.pouch"}}</span>
                    <span class="bag-capacity pouch-cpacity card-element">{{pouchItems.length}} / <input
                            class="pouch-capacity bag-capacity card-element" name="data.pouchCapacity" type="text"
                            value="{{data.pouchCapacity}}"></span>
                </div>
                {{#each pouchItems as |item id|}}
                {{> "systems/fkng_doors/templates/partials/card/item-card.hbs" item}}
                {{/each}}

                <div class="unstored-card bag-card owned-card">
                    <img src="{{config.icons.storage.unstored}}" height="50" width="50"
                        class="bag-icon unstored-icon card-icon">
                    <span class="bag-title unstored-title card-element">{{localize "fd.items.bag.unstored"}}</span>
                    <span class="bag-capacity unstored-cpacity card-element">{{unstoredItems.length}}</span>
                </div>
                {{#each unstoredItems as |item id|}}
                {{> "systems/fkng_doors/templates/partials/card/item-card.hbs" item}}
                {{/each}}
            </div>
            <div id="skills" class="panel skills-panel tab-content" {{#ifEquals data.openedSheetPanel "skills"
                }}style="display:block;" {{/ifEquals}}>

                <div class="combat-skill-card skill-card owned-card">
                    <img src="{{config.icons.skill.combat}}" height="50" width="50"
                        class="skill-icon combat-skill-icon card-icon">
                    <span class="skill-title combat-skill-title card-element">{{localize "fd.items.aptitude.skill.combatSkills"}}</span>
                </div>
                {{#each combatSkills as |skill id|}}
                {{> "systems/fkng_doors/templates/partials/card/aptitude-card.hbs" skill}}
                {{/each}}

                <div class="standard-skill-card skill-card owned-card">
                    <img src="{{config.icons.skill.standard}}" height="50" width="50"
                        class="skill-icon standard-skill-icon card-icon">
                    <span class="skill-title standard-skill-title card-element">{{localize "fd.items.aptitude.skill.standardSkills"}}</span>
                </div>
                {{#each standardSkills as |skill id|}}
                {{> "systems/fkng_doors/templates/partials/card/aptitude-card.hbs" skill}}
                {{/each}}

                <div class="paasive-skill-card skill-card owned-card">
                    <img src="{{config.icons.skill.passive}}" height="50" width="50"
                        class="skill-icon passive-skill-icon card-icon">
                    <span class="skill-title passive-skill-title card-element">{{localize
                        "fd.items.aptitude.skill.passiveSkills"}}</span>
                </div>
                {{#each passiveSkills as |skill id|}}
                {{> "systems/fkng_doors/templates/partials/card/aptitude-card.hbs" skill}}
                {{/each}}
            </div>
        </div>
        <div class="column-footer"></div>
    </div>
</form>