<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="sheet-content">
        <textarea name="data.description">{{data.description}}</textarea>
        <textarea name="data.rpDescription">{{data.rpDescription}}</textarea>
        <table>
            <tr>
                <th>{{localize "fd.commons.type"}}</th>
                <td><select name="data.type" class="selector potionType-selector">
                    {{#select data.type}}
                    {{#each config.potionTypes as |potionType name|}}
                    <option value="{{name}}">{{localize potionType}}</option>
                    {{/each}}
                    {{/select}}
                </select></td>
            </tr>
            <tr>
                <th>{{localize "fd.commons.formula"}}</th>
                <td>
                    <input name="data.formula" type="text" value="{{data.formula}}"/>
                </td>
            </tr>
            <tr>
                <th>{{localize "fd.items.commons.count"}}</th>
                <td>
                    <input name="data.count" type="text" value="{{data.count}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th>{{localize "fd.items.commons.storage"}}</th>
                <td>
                    <select name="data.storage">
                        {{#select data.storage}}
                        {{#each config.storageContainers as |name storage|}}
                        <option value="{{storage}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>{{localize "fd.items.commons.price"}}</th>
                <td>
                    <input name="data.price" type="text" value="{{data.price}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </div>
</form>