<div class="roll aptitude-roll">
    <hr>
    <div class="roll-header aptitude-roll-header">
        <img src="{{p_aptitude.img}}" height="60" width="60" class="roll-img aptitude-roll-img">

        <h1>{{p_aptitude.name}}</h1>
    </div>
    <hr>
    <i>{{aptitude_rpDescription}}</i>
    {{#unless is_passive}}
        {{#if gm_only}}
            <br/>
            <br/>
            <h2><i class="fas fa-eye-slash"></i> {{localize "fd.rolls.rolledGM"}}</h2>
        {{/if}}
        <table class="stat-roll-table">
            {{#unless is_simple_roll}}
            <tr>
                <th>{{localize "fd.rolls.aptitude.spellTarget"}}</th>
                <td>{{main_roll_target}}{{#if bonus}}({{main_roll_target_formula}}){{/if}}</td>
            </tr>
            {{/unless}}
            <tr>
                <th>{{localize "fd.rolls.aptitude.spellResult"}}</th>
                <td>{{main_roll_result}}</td>
            </tr>
            {{#if has_additional_roll}}
            <tr>
                <th>{{localize "fd.rolls.aptitude.additionalResult"}}</th>
                <td>{{additional_roll_result}}</td>
            </tr>
            {{/if}}
        </table>
        <hr>
        <div class="roll-result {{#if success}}roll-success{{else}}roll-failure{{/if}}">
            {{#if success}}
                {{localize "fd.rolls.success"}}
            {{else}}
                {{localize "fd.rolls.failure"}}
            {{/if}}
        </div>
    {{/unless}}
</div>