<div class="roll armor-roll">
    <hr>
    <div class="roll-header armor-roll-header">
        <img src="{{p_armor.img}}" height="60" width="60" class="roll-img armor-roll-img">
        <h1>{{p_armor.name}}</h1>
    </div>
    <hr>
    {{localize "fd.rolls.armor.defense"}} <u>{{p_armor.name}}</u>
    <table class="armor-roll-table">
        <tr>
            <td>{{localize "fd.rolls.armor.damageReduction"}}</td>
            <td>{{armor_damage_reduction}}</td>
        </tr>
        <tr>
            <td>{{localize "fd.rolls.armor.remainingDurability"}}</td>
            <td>{{durability_message}}</td>
        </tr>
    </table>
</div>