<div class="roll item-roll">
    <hr>
    <div class="roll-header item-roll-header">
        <img src="{{p_item.img}}" height="60" width="60" class="roll-img item-roll-img">
        <h1>{{p_item.name}}</h1>
    </div>
    <hr>
    <i>{{item_rpDescription}}</i>
</div>