<div class="roll potion-roll">
<hr>
<div class="roll-header potion-roll-header">
    <img src="{{p_item.img}}" height="60" width="60" class="roll-img potion-roll-img">
    <h1>{{p_item.name}}</h1>
</div>
<hr>
    {{localize "fd.rolls.potion.drinking"}} <u>{{potion_name}}</u>
    <table class="potion-roll-table">
        <tr>
            <td>{{potion_effect}}</td>
            <td>{{roll_result}}</td>
        </tr>
    </table>
</div>