<div class="roll stat-roll">
    <hr>
    <div class="roll-header stat-roll-header">
        <img src="{{stat_img}}" height="60" width="60" class="roll-img stat-roll-img">
        <h1>{{stat_name}}</h1>
    </div>
    <hr>
    {{localize "fd.rolls.rolling"}} <u>{{stat_name}}</u>
    <table class="stat-roll-table">
        <tr>
            <td>{{stat_name}}</td>
            <td>{{stat_value}}</td>
        </tr>
        <tr>
            <td>{{localize "fd.commons.result"}}</td>
            <td>{{roll_result}}</td>
        </tr>
    </table>
    <hr>
    <div class="roll-result {{#if success}}roll-success{{else}}roll-failure{{/if}}">
        {{#if success}}
            {{localize "fd.rolls.success"}}
        {{else}}
            {{localize "fd.rolls.failure"}}
        {{/if}}
    </div>
</div>