<div class="roll weapon-basic-roll">
    <hr>
    <div class="roll-header weapon-basic-roll-header">
        <img src="{{p_weapon.img}}" height="60" width="60" class="roll-img weapon-basic-roll-img">
        <h1>{{p_weapon.name}}</h1>
    </div>
    <hr>
    {{localize "fd.rolls.weapon.basic-attack"}} <u>{{weapon_name}}</u>
    <table class="stat-roll-table">
        <!--<tr>
            <td>{{localize "fd.commons.formula"}}</td>
            <td>{{weapon_formula}}</td>
        </tr>-->
        <tr>
            <td>{{localize "fd.commons.target"}}</td>
            <td>{{weapon_target_value}}</td>
        </tr>
        <tr>
            <td>{{localize "fd.commons.result"}}</td>
            <td>{{roll_result}}</td>
        </tr>
        <tr>
            <td>{{localize "fd.items.weapon.damages"}}</td>
            <td>{{damage_value}} {{#if damage_value}}(<b>{{attack_damages}}</b> + <i>{{bonus_damages}}){{/if}}</i></td>
        </tr>
    </table>
    <hr>
    <div class="roll-result {{#if success}}roll-success{{else}}roll-failure{{/if}}">
        {{#if success}}
            {{localize "fd.rolls.success"}}
        {{else}}
            {{localize "fd.rolls.failure"}}
        {{/if}}
    </div>
</div>